<div class="container d-flex align-items-center justify-content-center h-100">
    <section class="page_403">
        <div class="text-center">
            <div class="four_zero_four_bg">
                <h1 class="text-center">404</h1>
            </div>

            <div class="contant_box_403">
                <h1 class=text-danger> <span style="font-weight: bolder">O</span>ops </h1>
                <h2 class="h2">
                    la page que vous recherchez n'est pas disponible! {{redirect}}
                </h2>
                <a [routerLink]="[redirect]" routerLinkActive="router-link-active" class="link_403">Accueil</a>
            </div>
        </div>
    </section>
</div>