<div class="product-card">
  <div class="badge">Hot</div>
  <div class="product-tumb">
    <img alt=""
         src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZHVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60">
  </div>
  <div class="product-details">
    <span class="product-catagory">Women,bag</span>
    <h4><a href="">Women leather bag</a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
    <div class="product-bottom-details">
      <div class="product-price"><small>$96.00</small>$230.99</div>
      <div class="product-links">
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">favorite_border</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
