<div
  class="container-fluid d-flex justify-content-center align-items-center h-100"
>
  <mat-card class="col-12 col-md-8 col-lg-6 text-center shadow">
    <mat-card-header class="justify-content-center">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            formControlName="username"
            matInput
            type="text"
            required
            matInput
            (blur)="checkUsernameAvailability($event)"
            placeholder="Enter your username..."
          />
          <mat-icon matSuffix [ngClass]="{ 'text-success': !usernameTaken }">{{
            usernameTaken ? "person_outline" : "done"
          }}</mat-icon>
          <mat-error *ngIf="f['username'].errors">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            type="email"
            required
            matInput
            (blur)="checkEmailAvailability($event)"
            placeholder="Enter your email..."
          />
          <mat-icon
            matSuffix
            class="material-icons-outlined"
            [ngClass]="{ 'text-success': !emailTaken }"
            >{{ emailTaken ? "email" : "done" }}</mat-icon
          >
          <mat-error *ngIf="f['email'].errors">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            required
            matInput
            placeholder="Enter your password..."
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon class="material-icons-outlined">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="f['password'].hasError('required')"
            >Password is required !</mat-error
          >
        </mat-form-field>
        <button mat-flat-button class="w-100" type="submit" color="primary">
          <span>Signup </span
          ><mat-icon class="material-icons-outlined">how_to_reg</mat-icon>
        </button>
        <div>or</div>
        <nav>
          <a
            routerLink="/login"
            mat-raised-button
            class="w-100"
            color="secondary"
          >
            <span>Login </span
            ><mat-icon class="material-icons-outlined">login</mat-icon>
          </a>
        </nav>
      </form>
    </mat-card-content>
  </mat-card>
</div>
